{% extends "common/home_admin_base.html" %}

{% block title %}
    Add Pest Guide
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="/index_admin/">Home</a></li>
        <li class="active">Add Pest Guide</li>
    </ul>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form class="form-horizontal" action="/add_pest_guide/" enctype="multipart/form-data"
              method="post" role="form" style="padding: 5px 120px">
            <h1 class="col-sm-12" style="text-align: center;background: #9bceed; margin-bottom: 30px;">
                Add A New Pest Guide
            </h1>
            <div style="color:red;text-align: center;margin-bottom: 30px;">{{ msg }}</div>

            <div class="form-group">
                <label for="" class="col-md-4 control-label">Animal name</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="animal_name" placeholder="" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-4 control-label">Description</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-4 control-label">Distribution</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="2" name="distribution"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4 control-label">Size</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="2" name="size"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-4 control-label">Droppings</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="3" name="droppings"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-4 control-label">Foot Prints</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="2" name="foot_prints"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-md-4 control-label">Impacts</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="3" name="impacts"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4 control-label">Control Methods</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="3" name="control_methods"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-md-4 control-label">Primary Image</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" name="primary_image">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12" style="text-align: center;margin: auto">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script>
    $(function () {
        $(".add_pest_guide").addClass("active");
    })
    </script>
{% endblock %}



